## 30904_김진완_0327

In [9]:
#학생 5명의 시험점수를 입력받아 합계와 평균을 출력하기

a = int(input("1번 학생의 점수를 입력하세요: "))
b = int(input("2번 학생의 점수를 입력하세요: "))
c = int(input("3번 학생의 점수를 입력하세요: "))
d = int(input("4번 학생의 점수를 입력하세요: "))
e = int(input("5번 학생의 점수를 입력하세요: "))

p = a + b + c + d + e

avg = (a + b + c + d + e) / 5

print("합계는",p,"점입니다.")
print("평균은",avg,"점입니다")

1번 학생의 점수를 입력하세요: 32
2번 학생의 점수를 입력하세요: 68
3번 학생의 점수를 입력하세요: 72
4번 학생의 점수를 입력하세요: 54
5번 학생의 점수를 입력하세요: 92
합계는 318 점입니다.
평균은 63.6 점입니다

- 배열 : 묶음 단위로 값을 저장하는 자료구조
  - 원소 : 배열에 저장된 각 객체
  - 각 원소는 0,1,--- 순서대로 인덱스(주소)를부 부여받음
  - 원소의 자료형은 int형 float형 어떤것도 상관없음
  - 서로 다른 자료형을 같이 저장할 수 있음
  - 배열 원소 자체를 배열에 저장할 수도 있음

In [10]:
#list 선언
list01 = [] # 빈리스트
a = [1,2,3,4,5]
b = ['A','B','C']

print(a)
print(b)

[1, 2, 3, 4, 5]
['A', 'B', 'C']

- 튜플
  - 원소에 순서를 매겨 결합한 것으로 원소를 변경할 수 없는 자료형
  - ()만 사용하면 빈 튜플 생성

In [15]:
tuple01 = ()
tuple02 = 1,2,3,4,5
tuple03 = 'A','B','C'

print(tuple01)
print(tuple02)
print(tuple03)

()
(1, 2, 3, 4, 5)
('A', 'B', 'C')

In [16]:
a = tuple(range(3,13,2))
print(a)

(3, 5, 7, 9, 11)